[[include:header.html]]
		<div id="main">
			<h2>New Page</h2>
			<fieldset>
				<legend>New page</legend>
				<form action="[[APPURL]]/page/newpage/" name="newpage" method="post">
					<table>
						<tbody>
							<tr>
								<td>
									<label for="pagename">Pagename: </label>
								</td>
								<td>
									<input type="text" name="pagename" id="pagename" /> (_____.php)
								</td>
							</tr>
							<tr>
								<td>
									<label for="title">Title: </label>
								</td>
								<td>
									<input type="text" name="title" id="title" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="template">Template: </label>
								</td>
								<td>
									<select name="template">
										<option value="0">Select template..</option>
										<option value="1">default</option>
									</select>
									when changing the template this page will refresh!
								</td>
							</tr>
							<tr>
								<td>
									<label for="pagedescription">Description: </label>
								</td>
								<td>
									<textarea rows="2" cols="40" name="pagedescription" id="pagedescription"></textarea>
								</td>
							</tr>
							<tr>
								<td>
									<label for="pagekeywords">Keywords: </label>
								</td>
								<td>
									<textarea rows="2" cols="40" name="pagekeywords" id="pagekeywords"></textarea>
								</td>
							</tr>
							<tr>
								<td>
									<label for="pagecontent">Page Content: </label>
								</td>
								<td>
									<textarea rows="30" cols="50" name="pagecontent" id="pagecontent"></textarea>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>
									<input type="submit" value="save" name="save" />
									<input type="submit" value="cancel" name="cancel" />
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</fieldset>
		</div>
[[include:footer.html]]