RewriteEngine on

# handle requests for cmspages http://www.domain.com/cms/login/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^cms/(.+)$ cmshandler.php?url=$1 [L,QSA]

# default page
RewriteRule ^cms(/)?$ cmshandler.php?url=dashboard [L]

# handle requests for site pages like http://www.domain.com/pagename/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ pagehandler.php?url=$1 [L,QSA]

# default page
RewriteRule ^$ pagehandler.php?url=index [L]