* {
	padding: 0; 
	margin: 0; 
	font-family: Helvetica, Arial;
	font-size: 12px;
}

body {
	background: url('../images/BG-main.png');
}

h1 {
	font-size: 30px;
}

#header
{
	padding: 10px;
	background: #a9a9a9;
	border-bottom: 1px solid #515151;
}

#headerNav li
{
	display: inline;
	margin: 0 5px 0 0;
}

#modules
{
	float: left;
	width: 150px;
	background: #dee4ea;
	border-right: 1px solid #b4b4b4;
	padding: 15px 0 50px 0;
}

#modulesNav li a
{
	display: block;
	font-size: 12px;
	padding: 3px 5px 3px 35px;
	text-decoration: none;
	background: transparent url('../images/blocks.png') no-repeat 15px 50%;
	color: #000;
}

#modulesNav li.active a
{
	background: #3875d7 url('../images/blocks.png') no-repeat 15px 50%;
	color: white;
}

#main 
{
	margin: 0 0 0 151px;
	background: url('../images/BG-main.png');
}

#footer
{
	background: gray;
	clear: both;
	padding: 5px;
}

table.dataset {
	
	width: 100%;
	border-collapse: collapse;
}

table.dataset thead td {
	background-color: #8dbced;
}

table.dataset tr:nth-child(even) {
	background-color: #edf3fe;
}

table.dataset td {
	padding: 3px;
}

table.dataset tr td:nth-child(1) {
	width: 9px;
}

table.dataset tr td:nth-child(2) {
	width: 400px;
}

table.dataset tr td:nth-child(2) img {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

ul#breadcrumb {
	list-style: none;
	padding: 5px;
}

ul#breadcrumb li {
	display: inline;
	padding: 0 5px 0 0;
}

ul#actions {
	list-style: none;
	padding: 10px 5px 5px 5px;
	background: #666;
}

ul#actions li {
	display: inline;
	padding: 0;
	margin: 0 5px 0 0;
	border: 1px solid #222;
	background: #444;
}

ul#actions li a {
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

#tabmenu {
	width: 100%;
	height: 25px;
	padding: 10px 0 0 20px;
	margin: 0 0 20px;
	border-bottom: 1px solid black;
	background: #666;
}

#tabmenu li {
	list-style: none;
	float: left;
	height: 24px;
	border: 1px solid black;
	background: #ccc;
}

#tabmenu li a {
	display: block;
	padding: 5px;
	text-decoration: none;
}

#tabmenu li.active {
	border-bottom: 1px solid #fff;
	background: #fff;
}

.tab {
	border: none;
}

#modulesinfo, #pageinfo, #userinfo, .actions {
	border: none; 
}

.actions { margin: 0 0 30px 0;}

.pagemodule {
	padding: 8px 20px 0 20px;
	clear: left;
}

.pagemodule:nth-child(even) {
	background: #edf3fe;
}

.modulelabel {
	float: left;
	width: 160px;
	font-size:13px;
}

.modulecontent {
	float: left;
	position: relative;
}

.modulecontent input[type=text] {
	width: 400px;
}

textarea.moduletextblock {
	width: 600px;
	height: 300px;
}

input[type=text], textarea, select {
	padding: 3px;
	font-size: 13px;
	border: 1px solid #515151;
}


.actions .save {
	background: transparent url('../images/button.png') no-repeat 0 0;
	border: none;
	width: 95px;
	height: 27px;
}

.clear {
	clear: both;
}

ul.error {
	background-color: red;
	color: #fff;
	padding: 5px 0 5px 30px;
}
