* {
	padding: 0; 
	margin: 0; 
	font-family: Helvetica, Arial;
	font-size: 12px;
}

body {
	background: url('../images/BG-main.png');
}

h1 {
	font-size: 30px;
}

#header {
	background-image: -moz-linear-gradient(left, right, from(rgb(200,200,200)), to(rgb(169,169,169)));
	background-image: -webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(1.00, rgb(200,200,200)),
				color-stop(0.00, rgb(169,169,169))
				);
	background-color: rgb(169,169,169);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid #515151;
	padding: 10px;
	text-shadow: rgba(255,255,255,1) 0px 1px 0px;
}

#headerNav li {
	display: inline;
	margin: 0 5px 0 0;
	text-shadow: none;
}

#modmod {
	overflow: hidden;
}

#modules {
	float: left;
	width: 150px;
	background: #dee4ea;
	border-right: 1px solid #b4b4b4;
	padding: 15px 0 50px 0;
	margin-bottom: -32767px !important;
	padding-bottom: 32767px !important;
	min-height: 300px;
}

#modulesNav li a {
	display: block;
	font-size: 12px;
	padding: 3px 5px 3px 35px;
	text-decoration: none;
	color: #000;
}

#modulesNav li.active a {
	background-image: -moz-linear-gradient(left, right, from(rgb(178,189,215)), to(rgb(135,151,184)));
	background-image: -webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(1.00, rgb(178,189,215)),
				color-stop(0.00, rgb(135,151,184))
				);
	background-color: #3875d7;
	border-top: 1px solid rgb(164,175,203);
	color: white;
	text-shadow: rgba(0,0,0,1) 0px 1px 0px;
}

#main {
	margin: 0 0 0 151px;
	background: url('../images/BG-main.png');
}

#footer {
	background-image: -moz-linear-gradient(left, right, from(rgb(200,200,200)), to(rgb(169,169,169)));
	background-image: -webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(1.00, rgb(200,200,200)),
				color-stop(0.00, rgb(169,169,169))
				);
	background-color: rgb(169,169,169);
	border-top: 1px solid #515151;
	clear: both;
	padding: 5px;
	text-align: center;
	text-shadow: rgba(255,255,255,0.7) 0px 1px 0px;
}

table.dataset {
	
	width: 100%;
	border-collapse: collapse;
}

table.dataset thead td {
	background-color: #8dbced;
}

table.dataset tr:nth-child(even) {
	background-color: #edf3fe;
}

table.dataset td {
	padding: 3px;
}

table.dataset tr td:nth-child(1) {
	width: 9px;
}

table.dataset tr td:nth-child(2) {
	width: 400px;
}

table.dataset tr td:nth-child(2) img {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

ul#breadcrumb {
	list-style: none;
	
	height: 25px;
	background-image: -moz-linear-gradient(left, right, from(rgb(253,253,253)), to(rgb(223,223,223)));
	background-image: -webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(1.00, rgb(253,253,253)),
				color-stop(0.00, rgb(223,223,223))
				);
	background-color: rgb(223,223,223);
	border-bottom: 1px solid rgb(100,100,100);
	padding: 0 0 0 5px;
}

ul#breadcrumb li {
	height: 25px;
	background-image: url(../images/BG-breadcrumb.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	display: inline-block;
	line-height: 25px;
	padding: 0 20px 0 5px;
}

ul#actions {
	list-style: none;
	padding: 5px 5px 5px 10px;
	background: #666;
	background-image: -moz-linear-gradient(left, right, from(rgb(80,80,80)), to(rgb(50,50,50)));
	background-image: -webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(1.00, rgb(120,120,120)),
				color-stop(0.00, rgb(70,70,70))
				);
	border-top: 1px solid rgba(255,255,255,0.5);
}

ul#actions li {
	display: inline;
	padding: 0;
	margin: 0 5px 0 0;
}

ul#actions li a {
	display: inline-block;
	padding: 2px 10px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-opera-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background: #444;
	border: 1px solid #222;
	background-image: -moz-linear-gradient(left, right, from(rgb(80,80,80)), to(rgb(50,50,50)));
	background-image: -webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(1.00, rgb(120,120,120)),
				color-stop(0.00, rgb(70,70,70))
				);
	-webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.3) 0 1px 0;
}

#tabmenu {
	width: 100%;
	height: 23px;
	margin: 0 0 20px;
	list-style: none;
	padding: 10px 5px 0 20px;
	background: rgb(67,74,93);
	background-image: -webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(0, rgb(34,37,48)),
				color-stop(20%, rgb(67,74,93)),
				color-stop(90%, rgb(67,74,93)),
				color-stop(1, rgb(34,37,48))
				);
}

#tabmenu li {
	float: left;
	height: 23px;
	margin: 0 2px 0 0;
	background-color: rgb(138,157,185);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-image: -webkit-gradient(linear,
				left top,
				left bottom,
				color-stop(0, rgb(138,157,185)),
				color-stop(0.8, rgb(138,157,185)),
				color-stop(1, rgba(0,0,0,0.5))
				);
}

#tabmenu li a {
	display: block;
	padding: 6px 20px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	
}

#tabmenu li.active {
	border-bottom: 1px solid #fff;
	background: #fff;
}

#tabmenu li.active a {
	color: #000;
}

.tab {
	border: none;
}

#modulesinfo, #pageinfo, #userinfo, .actions {
	border: none; 
}

.actions { margin: 0 0 30px 0;}

.pagemodule {
	padding: 8px 20px 0 20px;
	clear: left;
}

.pagemodule:nth-child(even) {
	background: #edf3fe;
}

.modulelabel {
	float: left;
	width: 160px;
	font-size:13px;
}

.modulecontent {
	float: left;
	position: relative;
}

.modulecontent input[type=text] {
	width: 400px;
}

input[type=text], textarea, select {
	padding: 3px;
	font-size: 13px;
	border: 1px solid #515151;
}


.actions .button {
	padding: 5px 20px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-opera-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
}

.button {
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000;
	padding: 0 10px;
	text-decoration: none;
	color: #000;
	cursor: pointer;

	border: 1px solid rgba(54,97,93,0.5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-opera-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(1.00, #efefef),
				color-stop(0.00, #b9b9b9)
				);
	text-shadow: rgba(255,255,255,1) 0px 1px 0px;

}

.clear {
	clear: both;
}

ul.error {
	background-color: red;
	color: #fff;
	padding: 5px 0 5px 30px;
}

.modulecontent textarea {
	width: 500px;
}

.modulecontent #source {
	width: 700px;
	height: 500px;
}

.modulecontent .moduletextblock {
	height: 300px;
}
